# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files (uploaded PDFs etc)
media/

# Static collected
staticfiles/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db